.heading {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.image {
    height: 500px;
    width: 500px;
}

.desc {
    background-color: aqua;
    color: black;
}

.gpara {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
}